.main-nav {
  display: grid;
  grid-template-columns: min-content auto max-content min-content;
  width: 100%;
}

.main-nav__menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  align-items: center;
  min-width: 380px;
} 

.main-nav__serchform {
  margin-left: 0;
}
.main-nav__menu-button {
  display: none;
}
