.old-products {
  max-width: 320px;
  background-image: url(../img/pink_rectangle.svg);
  background-repeat: no-repeat;
  background-size: 815px 545px;
  background-position: left top;
  margin: 0 auto 166px auto;
  @media(min-width: @desktop-width) {
    max-width: @desktop-width;
  }
}
.old-products__header {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.05em;
  color: #303032;
  text-transform: uppercase;
  position: relative;
  padding-top: 73px;
  margin-bottom: 48px;
}

.old-products__header::after {
  content: '';
  border-bottom: solid 4px #303032;
  width:90px;
  position: absolute;
  bottom: -10px;
  left: 0;
}

.old-products__tabs {
  font-size: 0;
}

.old-products__tabs>input[type="radio"] {
  display: none;
}

.old-products__tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
  padding-top: 10px;
  font-size: 16px;
}

 /* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
 #tab-btn-1:checked~#content-1,
 #tab-btn-2:checked~#content-2,
 #tab-btn-3:checked~#content-3 {
   display: block;
 }

 .old-products__tabs>label {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  padding: 2px 8px;

  color: rgba(0, 0, 0, 0.40);
  font-family: Open Sans;
  font-weight: 600;
  line-height: 153.885%; 

  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  position: relative;
  top: 1px;
  margin-bottom: 25px;
}

.old-products__tabs>label:not(:first-of-type) {
  border-left: none;
}

.old-products__tabs>input[type="radio"]:checked+label {
  border-bottom: 1px solid rgba(0, 0, 0, 0.40);
  color: #000;
}

.old-products__list {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 0;
  padding-left: 0;
}

.old-products__element {
  width: 288px;
  height: 400px;
  background-color: #fff;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.05);
  @media(min-width: @desktop-width) {
    width: 209px;
    height: 355px;
  }
}

.old-products__element h3{
  font-size: 16px;
  font-family: "Open Sans"; 
}

.old-products__element p {
  color: #303032;
  font-size: 28px;
  font-family: "Open Sans";
  font-weight: 600; 
  padding-left: 26px;
}

.old-products__element p span{
  font-size: 16px;
  text-decoration-line: line-through;
  opacity: 0.5;
  padding-left: 11px;
}

.old-products__element img{
  float: right;
}