.prima-fitch {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  display: grid;
  grid-template-columns: auto 72px;
  height: 750px;
  max-width: 1440px;
  margin-bottom: 140px;
  background-image: url('../img/pink_rectangle.svg');
  background-repeat: repeat-y;
  background-size: 630px;
  background-position: right -126px;
}

.prima-fitch__slider {
  position: relative;
}

.prima-fitch__item {
  position: relative;
}

.prima-fitch__caption {
  font-size: 20px;
  line-height: 27px;
  padding-top: 423px;
}

.prima-fitch__cost {
  font-size: 20px;
  line-height: 27px;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 22px;
  align-items: center;
  padding-top: 12px;
  margin-bottom: 35px;
}

.prima-fitch__cost--best {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
}

.prima-fitch .prima-fitch__slider .prima-fitch__pagination {
  // display:flex;
  // flex-direction: column;
  position: absolute;
  right: 0;
  width: 40px;
  left: 95%;
  top:54%;
  z-index: 1;
}
.prima-fitch__pagination-bullet {
  color: rgba(0, 0, 0, 0.30);
  font-family: "Playfair Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase; 
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 25px;
}

.prima-fitch__pagination-bullet--active{
  color: #000;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  width: 55px;
  height: 55px;
  border-right: 4px solid black;
}

.prima-fitch__button {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  width: 238px;
  height: 58px;
  background-color: #303032;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prima-fitch__image {
  position: absolute;
  right: 0;
  width: 530px;
  height: 750px;
  object-fit: contain;
}