.prima-fitch {
  max-width: 320px;
  margin: 0 auto;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  height: 750px;
  margin-bottom: 140px;
  background-image: url('../img/pink_rectangle.svg');
  background-repeat: no-repeat;
  background-size: 480px;
  background-position: 150px 64px;
  @media(min-width: @desktop-width) {
    max-width: 100%;
    background-position: right -126px;
    background-repeat: repeat-y;
    background-size: 630px;
  }
}

.prima-fitch__slider {
  position: relative;
}

.prima-fitch__list {
  margin-bottom: 36px;
  @media(min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.prima-fitch__item {
  position: relative;
}

.prima-fitch__caption {
  font-size: 20px;
  line-height: 27px;
  padding-top: 527px;
  padding-left: 23px;
  @media(min-width: @desktop-width) {
    padding-top: 423px;
  }
}

.prima-fitch__cost {
  font-size: 20px;
  line-height: 27px;
  display: grid;
  grid-template-columns: min-content min-content;
  gap: 22px;
  align-items: center;
  margin-bottom: 27px;
  padding-left: 22px;
  padding-top: 10px;
  @media(min-width: @desktop-width) {
    padding-left: 0;
    padding-top: 12px;
    margin-bottom: 35px;
  }
}

.prima-fitch__cost--best {
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
}

.prima-fitch .prima-fitch__slider .prima-fitch__pagination {
  // display:flex;
  // flex-direction: column;
  float: right;
  text-align: end;
  @media(min-width: @desktop-width) {
    position: absolute;
    right: 0;
    width: 40px;
    left: 95%;
    top:54%;
    z-index: 1;
  }
}
.prima-fitch__pagination-bullet {
  color: rgba(0, 0, 0, 0.30);
  font-family: "Playfair Display";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase; 
  display: block;
  width: 20px;
  height: 20px;
  margin-bottom: 25px;
}

.prima-fitch__pagination {
  // display: none;
  // @media(min-width: @desktop-width) {
    display: block;
  // }
}
.prima-fitch__pagination-bullet--active{
  color: #000;
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  width: 55px;
  height: 55px;
  border-right: 4px solid black;
}

.prima-fitch__scrollbar {
  height: 2px;
  background-color: rgba(20, 18, 21, 0.10);
  color:#000;
  width: 226px;
  margin-left: 26px;
  @media(min-width: @desktop-width) {
    display: none;
  }
}
.prima-fitch__button {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.13em;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  width: 290px;
  height: 58px;
  background-color: #303032;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 22px;
  @media(min-width: @desktop-width) {
    width: 238px;
    margin-left: 0;
  }
}
.prima-fitch__image {
  position: absolute;
  width: 320px;
  object-fit: contain;
  top: 100px;
  right: 0;
  @media (min-width: @desktop-width) {
    width: 530px;
    height: 750px;
  }
}