.product {
  font-family: 'Open Sans';
  font-style: normal;
  color: #303032;
}

.product__caption {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.product__cost {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
}